.titleWallet {
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: end;
}

.alertWalletDiv {
    margin-top: -2.5rem;
}

.walletIcon {
    width: 40px;
}

.contents {
    font-family: Montserrat !important;
    font-weight: bold;
    color: #a2a2a2;
    text-align: center;

}

.contentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.walletDiv span {
    font-family: Montserrat !important;
    margin-left: 2rem;
    font-weight: bold;
}

.walletDiv {
    cursor: pointer;
    border: none;
    text-align: center;
    padding-top: 26px;
    background-color: #10284c;
    color: #a2a2a2;
    font-family: Montserrat;
    font-weight: bold;
}

.closeBtn {
    display: flex;
    align-items: center;
    justify-content: end;
}

.walletDiv:hover {
    background-color: #10284c;

}

.imgWallet {
    width: 50px;
    margin: 0 auto;
}

.dialogWallet {
    background-color:#10284c;
    color: white;
}

.dialogDiv {
    border-radius: 20px;
}

.walletName {
    font-size: 1rem;
    color: #a2a2a2;

}
.walletFont{
    margin-right: 6px;
}
.contents1{
    color: #a2a2a2;
    
}
.contents1:hover{
    color: #fff;
    
}
.walletdiv{
   display: flex;
   align-items: center;
   justify-content: end;
}
.connectMenu{
    border: none;
    background-color: rgb(237, 41, 41);
    color: white;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .walletName {
        font-size: 0.6rem;
    }

    .contents {
        font-size: 0.8rem;
    }

    .imgWallet {
        width: 45px;
        margin: 0 auto;
    }

    .content {
        margin-left: 1rem;
    }
    .walletdiv{
        display: flex;
        align-items: center;
        justify-content: center;
     }
}